body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

@media screen and (min-width: 772px) {
    div {
        width: 45%;
    }

    div img {
        width: 100%;
        height: auto;
        max-height: 30vh;
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 998px) {
    div {
        width: 30%;
    }
}